thead, tfoot, tbody, div { 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

td {
    text-align: center;
}

.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
}

.tabs-menu li {
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-radius: 5px 5px 0px 0px;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: black;
    text-decoration: none; 
    font-size: 11px;
}

.tabs-menu .current a {
    color: #2e7da3;
}